[submodule "backend"]
	path = backend
	url = https://github.com/lsst-camera-visualization/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/lsst-camera-visualization/frontend.git
